<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <%= form.label :job_id %>
  <%= form.select :job_id do %>
    <% @jobs.each do |j| -%>
      <%= content_tag(:option, j.title, value: j.id) %>
    <% end %>
  <% end %>

  <% if @sub_contractors.any? %>
    <%= form.label :sub_contractor_id %>
    <%= form.select :sub_contractor_id do %>
      <% @sub_contractors.each do |s| %>
        <%= content_tag(:option, s.name, value: s.id) %>
      <% end %>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% else %>
    <br/>
    <i>There are no subcontractors available</i>
  <% end %>
<% end %>
