<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <% if @jobs.any? %>
    <%= form.label :job_id %>
    <%= form.select :job_id, options_for_select(
      @jobs.map{|j| [j.title, j.id]},
      @task.job_id
    ) %>
  <% else %>
    <i>There are no jobs available</i>
  <% end %>

  <% if @sub_contractors.any? %>
    <%= form.label :sub_contractor_id %>
    <%= form.select :sub_contractor_id, options_for_select(
      @sub_contractors.map{|s| [s.name, s.id]},
      @task.sub_contractor_id
    ) %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% else %>
    <br/>
    <i>There are no subcontractors available</i>
  <% end %>
<% end %>
