<p id="notice"><%= notice %></p>

<h2>
  <strong>Task:</strong>
  <%= @task.title %>
</h2>
<p>
  <strong>SubContractor</strong>
  <%= link_to @task.sub_contractor.name, 'task.sub_contractor' %>
</p>
<p>
  <strong>Job</strong>
  <%= link_to @task.job.title, @task.job %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Tasks', tasks_path %>
