<p id="notice"><%= notice %></p>

<% if logged_in? && !current_user_is_admin %>
  <h1>My Jobs</h1>
<% else %>
  <h1>Jobs</h1>
<% end %>
<% if @jobs.any? %>
  <table>
    <thead>
      <tr>
        <th>Job</th>
        <th>Manager</th>
        <th>Superintendent</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Tasks</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, job %></td>
          <% if job.project_manager %>
            <td><%= link_to "#{job.project_manager.last_name}, #{job.project_manager.first_name}", job.project_manager %></td>
          <% else %>
            <td><i>No project manager available</i></td>
          <% end %>
          <% if job.superintendent %>
            <td><%= link_to "#{job.superintendent.last_name}, #{job.superintendent.first_name}", job.superintendent %></td>
          <% else %>
            <td><i>No superintendent available</i></td>
          <% end %>
          <td><%= job.start_date %></td>
          <td><%= job.end_date || 'Ongoing' %></td>
          <td><%= job.tasks.length %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif !logged_in? %>
  <i>You are not logged in</i>
<% else %>
  <i>There are no jobs at the moment</i>
<% end %>
<br>

<% if logged_in? %>
  <%= link_to 'New Job', new_job_path %>
<% end %>