<p id="notice"><%= notice %></p>

<% if logged_in? && !current_user_is_admin %>
  <h1>My Jobs</h1>
<% else %>
  <h1>Jobs</h1>
<% end %>
<% if @jobs.any? && logged_in? %>
  <table>
    <thead>
      <tr>
        <th>Job</th>
        <th>Superintendent</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Tasks</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @jobs.each do |job| %>
        <% next if !we_have_permission_for_job?(job) %>
        <tr>
          <td><%= link_to job.title, job %></td>
          <td><%= link_to "#{job.user.last_name}, #{job.user.first_name}", job.user %></td>
          <td><%= job.start_date %></td>
          <td><%= job.end_date || 'Ongoing' %></td>
          <td><%= job.tasks.length %></td>
          <td><%= link_to 'Edit', edit_job_path(job) %></td>
          <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% elsif !logged_in? %>
  <i>You are not logged in</i>
<% else %>
  <i>There are no jobs at the moment</i>
<% end %>
<br>

<% if logged_in? %>
  <%= link_to 'New Job', new_job_path %>
<% end %>