<p id="notice"><%= notice %></p>

<% if we_have_permission_for_job?(@job) %>
  <h2>
    <strong>Job:</strong>
    <%= @job.title %>
  </h2>
  <p>
    <strong>Superintendent:</strong>
    <% if @job.superintendent %>
      <%= link_to "#{@job.superintendent.last_name}, #{@job.superintendent.first_name}", @job.superintendent %>
    <% else %>
      <i>No superintendent exists</i>
    <% end %>
  </p>
  <p>
    <strong>Manager:</strong>
    <% if @job.project_manager %>
      <%= link_to "#{@job.project_manager.last_name}, #{@job.project_manager.first_name}", @job.superintendent %>
    <% else %>
      <i>No project manager exists</i>
    <% end %>
  </p>
  <p>
    <strong>Start date:</strong>
    <%= @job.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @job.end_date || 'Ongoing' %>
  </p>

  <% if @job.tasks.any? %>
    <h2>Tasks</h2>

    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>SubContractor (<%= @job.sub_contractors.length %>)</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @job.tasks.each do |task| %>
          <tr>
            <td><%= link_to task.title, task %></td>
            <% if task.sub_contractor %>
              <td><%= link_to task.sub_contractor.name, task.sub_contractor %></td>
            <% else %>
              <td><i>No subcontractor exists for this task</i></td>
            <% end %>
            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <i>This job has no tasks</i>
  <% end %>
  <%= link_to 'New Task', new_task_path %>
  <br>
  <%= link_to 'Jobs', jobs_path %> | 
  <%= link_to 'Edit', edit_job_path(@job) %>
<% else %>
  <i>You do not have permission to see this job</i><br>
  <%= link_to 'Jobs', jobs_path %>
<% end %>