<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date || 'Ongoing' %>
</p>

<!-- HERE SHOW THE TASKS -->

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Jobs', jobs_path %>
