<%= form_with(model: permission_code, local: true) do |form| %>
  <% if permission_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission_code.errors.count, "error") %> prohibited this permission_code from being saved:</h2>

      <ul>
      <% permission_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role do %>
      <% [['Admin', 1], ['SuperIntendent', 2]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
